pyrogram==1.4.16
py-tgcalls
sqlalchemy
TgCrypto
python-dotenv
motor
telegraph
requests
aiohttp
aiofiles
asyncio
youtube_search
python-arq
search_engine_parser
wget 
lyricsgenius
ffmpeg-python
Pillow
ujson
psutil
future
dnspython
OpenCC
pytube
pillow
hachoir
dnspython
pyromod
psutil
ffmpeg
python-arq
future
pymongo[srv]
bs4
Heroku3
telethon